*/*.o
*/*.bin
*/*.log
*/*.a
*/.directory
.directory
.vscode
*/*.pcd
*/Makefile
Makefile
CMakeCache.txt
*/CMakeCache.txt
CMakeFiles
*/CMakeFiles
cmake_install.cmake
*/cmake_install.cmake
bin/csfdemo
*/cloth_nodes.txt
CSFDemo/config.cfg